.video {
  -webkit-box-shadow: 0 48px 46px -46px black;
  -moz-box-shadow: 0 48px 46px -46px black;
  box-shadow: 0 48px 46px -46px black;

  padding:2px;
  border:1px solid #021a40;
  background-color: white;

  font-family: 'Macondo', cursive;
  font-size: 20px;
}

.button {
  height: 36px;
  width: 36px;
  margin-left: auto; 
  margin-right: auto; 
  display: block;

  /*Rounded Corners*/
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;

 /*Gradient*/
 background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

 /*Shadow*/
 -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

 /*Transition*/
-webkit-transition: All 0.5s ease;
-moz-transition: All 0.5s ease;
-o-transition: All 0.5s ease;
-ms-transition: All 0.5s ease;
transition: All 0.5s ease;
}

.button:hover {
  width: 38px;
  height: 38px;
}

.wrapper {
  margin: 20px auto;
  width: 600px;
  height: 130px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;

  font-family: 'Macondo', cursive;
  font-size: 24px;
  padding: 15px 50px 15px 15px;
  text-align: center;
  font-weight: bold;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

#preloadedImages {
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(mute.png);
    background-image: url(sound.png);
}


